@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="color:yellowgreen;"> Welcome in Azure WebApp</h1>
        <p>Insert Record <a href="https://saggezzaspartans.azurewebsites.net/Home/InsertEmployeeData">Click here to Insert Employee Records In Azure Cloud Database</a>.</p>
    </div>