@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="color:yellowgreen;">Congratulation!!! You have successfully saved your data in Azure Cloud Database</h1>
        <p>Insert More <a href="https://saggezzaspartans.azurewebsites.net/Home/InsertEmployeeData">Click here to Insert More Records</a>.</p>
    </div>